.alert-message {
  box-shadow: 0 10px 30px 15px rgba(0, 0, 0, 0.2);
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 400px;
  z-index: 1000;
}

.icon {
  font-size: 2rem;
}
