.categories-container{
    background-color: #007aff;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.dropdown {
  background-color: #007aff;
}

.btn-secondary {
    color: #fff;
    background-color: #007aff;
    border-color: #007aff;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #007aff;
    border-color: #007aff;
    box-shadow: rgb(#007aff / 50%);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #fc553d;
    border-color: #fc553d;
}

.btn-secondary {
    color: #fff;
    background-color: #007aff;
    border-color: #007aff;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fc553d;
    border-color: #fc553d;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: #fc553d;
    border-color: #fc553d;
    box-shadow: #fc553d;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #fc553d;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fc553d;
    background-color:  #e9ecef
}
