/* stylelint-disable selector-max-specificity */

/* cores do site antigo  */

html {
    --font_family: 'Source Sans Pro', sans-serif;
    --color_font_medium: #fc553d;
    --color_font_light: #73b8f8;
    --color_primary: #272a63;
    --color_secondary_medium: #73b8f8;
    --color_gray_medium: #f1f0fa;
    --color_footer_button: #dbf1ff;
    --swiper-theme-color: #007aff;
    --color_seal: #086892;
    --color_bg_seal: #F1F0FA;
}

body {
  --bs-primary: #7fa0ad;
  --bs-primary-rgb: 127 , 160 , 173;
  --bs-secondary: #516f8b;
  --bs-secondary-rgb: 81 , 111 , 139;
  --bs-light: #fff;
  --bs-light-rgb: 255 , 255 , 255;
  --bs-dark: #17365d;
  --bs-dark-rgb: 23 , 54 , 93;
  --bs-body-color: #7fa0ad;
  --bs-body-font-size: 1.43rem;
  --bs-info: #2b5667;
  --bs-info-rgb: 43 , 86 , 103;
  --light-grey: #d0d9e4;
  --deep-blue: #0249af;
}

p {
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

#root {
  width: 100%;
}

main {
  width: 100%;
}

.link {
  color: var(--bs-light) !important;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  min-height: calc(var(--vh, 1vh) * 100);
}
