.navbarGlobal {
  margin: 1em auto;
  text-align: center;
}

.cart-icon {
  font-size: 1.8rem;
}

.cart-number-container {
  background-color: var(--bs-light);
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.cart-number {
  color: var(--bs-primary);
}

.login-icon {
  font-size: 1.4rem

  /* margin-left: -7px; */
}

.login-links {
  display: inline-block;
  font-size: 0.7rem;
  line-height: 0.8rem;
}

.btn-outline-danger {
  border-color: var(--bs-light);
  color: var(--bs-light);
}

.search {
  padding-left: 12px !important;
}
