.product-title {
  color: var(--bs-primary);
  font-weight: 600;
  text-align: center;
}

.product-card {
  background-color: var(--bs-light);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(86, 86, 86, 0.1);
}

.product-price {
  color: var(--bs-gray);
  font-size: large;
  font-weight: bold;
}

.quantity {
  color: var(--bs-gray) !important;
  font-size: 0.9rem !important;
  padding: 6px !important;
  text-align: center !important;
}

.input-group-text {
  padding: 0 20px !important;
}

.actions .btn {
  font-size: 0.9rem !important;
}

.actions {
  width: 200px;
}

.input-group-text.btn {
  font-size: 1.2rem !important;
}
